In [145]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [146]:
keyword.kwlist         #list of keywords

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [147]:
len(keyword.kwlist)

35

In [148]:
# 1val = 10 # can't start with numerical number

In [149]:
# val@ = 16 # can't use special character

In [150]:
# import = 11 # import is reserved keyword

In [151]:
val_ = 11 # this is valid

In [152]:
'''
Comment :
single line comment
multiple line comment
'''
# This is single line comment

'\nComment :\nsingle line comment\nmultiple line comment\n'

In [153]:
# statement 
p1 =29-38   # single line statement
p1

-9

In [154]:
# multiple line statement
s1="hello"\
"world"
s1

'helloworld'

In [155]:
# Docstring
def square(num):
    '''This function returns square of a number'''     
    return num**2

In [156]:
square(4)

16

In [157]:
square.__doc__  # accessing docstring of function by __doc__ attribute

'This function returns square of a number'

In [158]:
def even_odd(num):
    """This function checks whether a number is even or odd"""
    if num%2==0:
        return "Even"
    else:
        return "Odd"

In [159]:
even_odd(8)

'Even'

In [160]:
even_odd(5)

'Odd'

In [161]:
even_odd.__doc__

'This function checks whether a number is even or odd'

In [162]:
var2=10+5j
type(var2)

complex

In [163]:
a=29+5j
sys.getsizeof(a)
a,"is intance of complex:",isinstance(a,complex)

((29+5j), 'is intance of complex:', True)

In [164]:
# size of integer object in bytes
sys.getsizeof(int())
sys.getsizeof(float())
sys.getsizeof(complex())

32

In [165]:
# Boolean Type

In [166]:
# String Type
str1 = "hii" # double quotes
str2 ='hey' # single quotes

In [167]:
str1

'hii'

In [168]:
str2

'hey'

In [169]:
str3= ''' this is a multi line string 
i use triple quotes
heyy'''
str3

' this is a multi line string \ni use triple quotes\nheyy'

In [170]:
str = "hello "
str*6

'hello hello hello hello hello hello '

In [171]:
# string Indexing
# iinn
# 0123
strr = "hello"
strr[4]  # accessing character at index 4

'o'

In [172]:
strr[-1]  # accessing last character using negative indexing

'o'

In [173]:
strr[len(strr)-1]  # accessing last character using len() function

'o'

In [174]:
# strring Slicing
# striing[start:end:step]
strr[1:4]  # slicing from index 1 to 3

'ell'

In [175]:
strr[:5]

'hello'

In [176]:
strr[-1:5]

'o'

In [177]:
# Update and Delete String 
str4 = "hello world"
str4

'hello world'

In [178]:
# str4[0:4] = "hii"

In [179]:
del str4

In [180]:
str4

NameError: name 'str4' is not defined

In [ ]:
s1= "hello"
s2= "world"
s3= s1+s2
s3

'helloworld'

In [182]:
# Iterating String
str = "This Is a String"
for i in str:
    print(i)

T
h
i
s

I
s

a

S
t
r
i
n
g

In [183]:
for i in enumerate(str):
    print(i)

(0, 'T')
(1, 'h')
(2, 'i')
(3, 's')
(4, ' ')
(5, 'I')
(6, 's')
(7, ' ')
(8, 'a')
(9, ' ')
(10, 'S')
(11, 't')
(12, 'r')
(13, 'i')
(14, 'n')
(15, 'g')

In [184]:
list (enumerate(str))

[(0, 'T'),
 (1, 'h'),
 (2, 'i'),
 (3, 's'),
 (4, ' '),
 (5, 'I'),
 (6, 's'),
 (7, ' '),
 (8, 'a'),
 (9, ' '),
 (10, 'S'),
 (11, 't'),
 (12, 'r'),
 (13, 'i'),
 (14, 'n'),
 (15, 'g')]

In [ ]:
# List 
a= [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
a = "Hello bro this is DMV Coretech"
'this'in a #True

True

In [193]:
str = " Hello bro "
str

' Hello bro '

In [194]:
str.strip()

'Hello bro'

In [ ]:
str.rstrip() # for right side removal

' Hello bro'

In [ ]:
str.lstrip() # for left side removal

'Hello bro '

In [198]:
mystr = "********this **** is DMV******"
mystr

'********this **** is DMV******'

In [ ]:
mystr.strip('*')

'this **** is DMV'

In [200]:
mystr2 = "hello hackers"
mystr2

'hello hackers'

In [201]:
mystr2.replace('hello','hii')

'hii hackers'

In [202]:
mystr3 =" one two three three five two one"
mystr3.count('two')

2

In [203]:
mystr3.startswith('two')

False

In [204]:
mystr3.endswith('one')

True

In [206]:
list = mystr3.split()
list

['one', 'two', 'three', 'three', 'five', 'two', 'one']

In [209]:
# using scape characters
# \t
# \n
# \r
# \b
# \
sttt = " my lang is \"pyhton\" "
sttt

' my lang is "pyhton" '